<div class="login-container">

  <!-- Tarjeta login -->
  <div class="login-card">

    <!-- Logo -->
    <img src="assets/EcoBits_Logo.png" class="login-logo">

    <!-- Volver -->
    <p routerLink="/" class="back-home">← Volver al inicio</p>

    <h2>Iniciar sesión</h2>

    <!-- Botones sociales (visual por ahora) -->
    <div class="social-login">
      <button class="social-btn google">Google</button>
      <button class="social-btn github">GitHub</button>
      <button class="social-btn linkedin">LinkedIn</button>
    </div>

    <div class="divider">o</div>

    <!-- Formulario -->
	<form #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-login" novalidate>

	  <!-- EMAIL -->
	  <input 
		type="email" 
		[(ngModel)]="username" 
		name="username" 
		placeholder="Correo electrónico" 
		required
		email
		#email="ngModel"
	  >

	  <small *ngIf="email.invalid && (email.touched || email.dirty)" style="color:red;">
		<span *ngIf="email.errors?.['required']">El correo es obligatorio</span>
		<span *ngIf="email.errors?.['email']">Formato de correo inválido</span>
	  </small>

	  <!-- PASSWORD -->
	  <input 
		type="password" 
		[(ngModel)]="password" 
		name="password" 
		placeholder="Contraseña" 
		required
		#pass="ngModel"
	  >

	  <small *ngIf="pass.invalid && (pass.touched || pass.dirty)" style="color:red;">
		La contraseña es obligatoria
	  </small>

	  <p class="forgot">¿Olvidaste tu contraseña?</p>

	  <!-- BOTÓN -->
	  <button 
		type="submit" 
		class="btn-login"
		[disabled]="loginForm.invalid"
	  >
		Ingresar
	  </button>

	</form>

    <!-- Mensaje backend -->
    <div *ngIf="mensaje" class="mensaje">
      {{ mensaje }}
    </div>

    <!-- Registro -->
    <p class="register">
      ¿No tienes cuenta?
      <a routerLink="/registro">Regístrate</a>
    </p>

  </div>
</div>