.expresate-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  text-align: center;
}

.logo-foro {
  width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.logo-foro:hover {
  transform: scale(1.1);
}

.frase {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.8;
}